html { background: #ffffee; }
body {
 background: #ffffff url('images/bg-for-html.gif') repeat-x;
 width: 80%;
 margin: 0 auto;
 padding: 0;
 font: 90%/1.7 "Trebuchet MS", Helvetica, Verdana, sans-serif; 
 color: #555; }

a:link { color: #006d14; }
a:visited { color: #48a95a; }
a:hover { color: #ab0000; }
a:focus, a:active { color: #c50000; background-color: #ddd; }

#branding {
  position: relative;
  height: 250px;
  margin-bottom: 15px; }

#branding h1 {
  margin: 0; 
  padding: 10px 0 0 10px; 
  color: #fff; }

#address {
  color: #eee;
  position: absolute;
  top: 15px;
  right: 10px; 
  margin: 0;
  text-align: right;
  font-size: 90%;
  line-height: 1.3; }
   
#main-content {
  width: 65%;
  float: right; }

#navigation {
  width: 30%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; 
  border-top: 1px solid #b5b5b5; }
  
#navigatwo {
  width: 30%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 3px 0 0; 
  border-top: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5; }

#navigatop {
  font-size: 15px;
  background-color:black;
  float:left;
  width:100%;
}

#navigatop ul {
  float:left;
  width:100%;
  padding:0;
  margin:0;
  list-style-type:none;
}

#navigatop a
{
float:left;
width:7em;
text-decoration:none;
color:white;
background-color:black;
padding:0.2em 0.6em;
border-right:1px solid white;
border-bottom:1px solid white;
}

#navigatop a:hover {background-color:#ff3300;}
#navigatop li {display:inline;}
 

#navigation li {
  font: 130% Georgia, "Times New Roman", Times, serif;
  border-bottom: 1px solid #b5b5b5;
  padding: 1px 0 6px 35px;
  background: transparent url(images/ornament.gif) 0 50% no-repeat; }

#navigation li.current { 
  color: #ab0000;
  font-style: italic;
  background: transparent url(images/ornament-current.gif) 0 50% no-repeat; }
  
#navigation a { text-decoration: none; }    

#tagline {
  position: absolute;
  top: 40px;
  left: 320px;
  padding: 0 0 0 10px;
  color: #ff0;
  font: 3em Times, serif;
}
  
#copyright { 
  clear: both;
  text-align: right;
  font-size: 80%;
  color: #888;
  padding-top: 15px; 
  background: transparent url(images/footerline.gif) 100% 0 no-repeat; }
